nav {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1vw 0 1vw 7%;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  gap: 2vw;
}

nav ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
